@import 'https://fonts.googleapis.com/css?family=Oswald';
.loads{
    background: #005C97;
    background: linear-gradient(to left, #343A40 , #000000);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 6px;
    overflow: hidden;
    position: fixed;
    z-index: 999;
}

.hide{
    display: none;
}

.water-fill {
    animation: wave 1.5s infinite linear,
    fill-up 4s infinite ease-out alternate;
}

@keyframes wave {
    0% { x: -400px; }
    100% { x: 0; }
}
@keyframes fill-up {
    0% {
        height: 0;
        y: 130px;
    }
    100% {
        height: 160px;
        y: -30px;
    }
}