header{
    position: sticky;
    top: 0%;
    background-color: #343A40;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.top{
    margin-right: 50px;
}
main{
    padding-left: 100px;
    padding-right: 100px;
}
.essence{
    display: flex;
    object-fit: cover;
}
.pageUN{
    padding-top: 25px;
}
footer{
    background-color: #343A40;
    text-decoration: white;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}
.top{
    position: relative;
    align-items: center;
}
h1{
    margin: 60px;
    text-align: center;

}
#oeil{
    padding-top: 60px;
}
main section.row{
    padding-right: 100px;
    padding-left: 100px;
    box-shadow: 0px 0px 18px 2px black;
}
.column{
    flex: 1;
    margin: 2px;
    padding: 10px;
    transition: 0.3s;
}
.expUN{
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}
.container.align-items-left{
    display: flex;
    position: static;

}
#map {
    height: 580px;
    width: 850px;
    display: flex;
    margin: 5%;
}
#photoOlfa{
    display: flex;
    margin: 3%;
}
.expDEUX{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 80px;
}
.expTROIS{
    text-align: center;
    margin-bottom: 80px;
}
#phraseTROIS{
    text-align: center;
    padding-bottom: 800px;
}
.expQUATRE{
    text-align: center;
    padding-bottom: 150px;
}
#home{
    padding-right: 10px;
    padding-bottom: 10px;
}
#env{
    padding-right: 10px;
    padding-bottom: 10px;
}
#tel{
    padding-right: 10px;
    padding-bottom: 10px;
}
hr{
    position: relative;
    top: 10px;
    border: none;
    height: 12px;
    background-color: white ;
}
.marg{
    padding-top: 20px;
    padding-bottom: 20px;
}
.fin{
    padding-top: 7px;
}


